<div>
    <div class="super-header">
        <img class="center" src="../images/superhero.ico">
    </div>

    <div>
        <div class="world-container angular-world">
            <h2>Angular SuperHeroes</h2>
            <ng-duo to-the-rescue="{{heroesOfTheHour}}" ng-click="setHeroesOfTheHour()"></ng-duo>
        </div>

        <div class="world-container web-components-world">
            <h2>Web Components SuperHeroes</h2>
            <x-ngduo to-the-rescue="{{heroesOfTheHour}}" bind-polymer></x-ngduo>
        </div>
    </div>
</div>
